@font-face {
    font-family: "Nanum";
    src: url(/fonts/NanumGothic-Bold.ttf);
    font-weight: bold;
}
/* @font-face {
    font-family: "Nanum";
    src: url(/fonts/NanumGothic-ExtraBold.ttf);
    font-weight: bolder;
} */
@font-face {
    font-family: "Nanum";
    src: url(/assets/fonts/NanumGothic-Regular.ttf);
    font-weight: regular;
}